fastapi==0.79.0
requests==2.31.0
sentry-sdk==1.9.4
pydantic[dotenv]==1.9.2
python-dotenv==0.20.0
sqlalchemy[asyncio, mypy]==1.4.40
alembic==1.8.1
psycopg2==2.9.3
asyncpg==0.26.0
pandas==1.4.3
python-multipart==0.0.5
aiopath==0.6.10
typer==0.6.1
asgi-correlation-id==3.0.1
git+ssh://git@github.com/adjust/cc-tools.git@v1.6.152
git+ssh://git@github.com/adjust/cc-tools-redis.git@v1.0.21
git+ssh://git@github.com/adjust/cc-tools-db.git@v1.0.28
# TODO(william): Use builtin aioredis.Lock from v2.0 when arq adds support to it.
# https://app.asana.com/0/1200776177818519/1201100382500757/f
aioredis-lock==0.1.0
funcy==1.17
